@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    background-image:  url("../../public/Hero.jpeg");
}

.promo1 {
    background-image: url('../../public/promo1.jpeg');
}

.promo2 {
    background-image: url('../../public/watch1.jpeg');
}