@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    background-image:  url("../../public/Hero.jpg");
}

.promo1 {
    background-image: url('../../public/promo1.jpg');
}

.promo2 {
    background-image: url('../../public/watch1.jpg');
}